@import './reset.scss';
@import './fonts.scss';

body {
	background: url('./assets/img/bg.jpg') #04384c no-repeat 50% 0;
	font-family: 'Roboto', Arial;
	font-weight: 300;
}

h1, h2 {
	text-transform: uppercase;
	text-align: center;
	background-image: linear-gradient(to bottom, #fff, rgb(155, 155, 155));
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	margin-bottom: 8px;
	font-family: 'RobotoCondensed';
	font-weight: 700;
	font-size: 60px;
}

h2 {
	margin-top: 80px;
	font-size: 45px;
	width: 100%;
}

label {
	color: #fff;

	&.checkbox {
		padding-left: 20px;
		position: relative;
		font-size: 15px;

		&:before {
			position: absolute;
			content: '';
			width: 12px;
			height: 12px;
			background: #fff;
			left: 0;
			top: 1px;
			border-radius: 3px;
		}
	}
}

input[type="checkbox"] {
	display: none;

	&:checked ~ span::before {
		content: '';
		position: absolute;
		background: #067bb8;
		width: 10px;
		height: 10px;
		left: 1px;
		top: 2px;
		border-radius: 2px;
	}
}

.container {
    width: 100%;
	margin: 0 auto;
    padding: 320px 20px 0;
	max-width: 860px;

	@media (min-width: 1200px) {
		max-width: 1280px;
	}
	@media (min-width: 1700px) {
		max-width: 1700px;
	}
}

.flex {
    display: flex;
    flex-wrap: wrap;
	// justify-content: center;
    gap: 20px;
}

.swiper-slide {
    width: auto !important;
}

.item {
    width: 190px;
    height: 220px;
    background: #06202c;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid transparent;
	transition: .2s;

	&:hover {
		border: 1px solid #ffffff8b;
		box-shadow: 0 0 20px rgba(255,255,255,.3);
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100px;
		background: linear-gradient(180deg, transparent, #06202c);
	}

    &.japan {
        background-image: url("./assets/img/flag_japan.png");
    }
    &.usa {
        background-image: url("./assets/img/flag_usa.png");
    }
    &.ussr {
        background-image: url("./assets/img/flag_ussr.png");
    }
    &.germany {
        background-image: url("./assets/img/flag_germany.png");
    }
    &.uk {
        background-image: url("./assets/img/flag_uk.png");
    }
    &.france {
        background-image: url("./assets/img/flag_france.png");
    }
    &.asia {
        background-image: url("./assets/img/flag_asia.png");
    }
    &.italy {
        background-image: url("./assets/img/flag_italy.png");
    }
    &.common {
        background-image: url("./assets/img/flag_common.png");
    }
    &.america {
        background-image: url("./assets/img/flag_america.png");
    }
    &.europe {
        background-image: url("./assets/img/flag_europe.png");
    }
    &.netherlands {
        background-image: url("./assets/img/flag_netherlands.png");
    }
    &.spain {
        background-image: url("./assets/img/flag_spain.png");
    }
}

.item__img {
	position: relative;
}

.p-level {
    position: absolute;
    top: 5px;
    right: 10px;
    text-transform: uppercase;
    color: #ffffff;
	text-shadow: 0px 2px 5px rgba(0,0,0,.5);
	font-family: 'RobotoCondensed';
	font-weight: 700;

	&--modal {
		top: auto;
		bottom: 0;
		font-size: 30px;
	}
}

.p-title {
    text-transform: uppercase;
	text-align: center;
	background-image: linear-gradient(to bottom, #fff, rgb(155, 155, 155));
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	margin-bottom: 4px;
	font-family: 'RobotoCondensed';
	font-weight: 700;
}

.p-type {
    text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	opacity: .5;
	margin-bottom: 12px;
}

.p-overview {
	font-size: 11px;
	padding: 0 2px;

	&--modal {
		font-size: 15px;
		line-height: 1.5;
	}
	
	&__title {
		text-align: center;
		font-size: 11px;
		position: relative;
		text-transform: uppercase;
		margin-bottom: 8px;
		color: #fff;

		&::before,
		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 4px;
			width: 45px;
			height: 5px;
			border: 1px solid transparent;
			border-top-color: #fff;
			border-bottom-color: #fff;
			opacity: .1;
		}
	
		&::after {
			right: 0;
			left: auto;
		}

		&--modal {
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 16px;

			&::before,
			&::after {
				top: 7px;
				width: 200px;
			}
		}
	}
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.filters__wrap {
	position: sticky;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;	
	margin-bottom: 20px;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(0deg, transparent 0px, #04384ccc 10px);
	backdrop-filter: blur(5px);
	z-index: 2;
	padding: 20px 0;
}

.filters__item {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 20px 20px 16px;
	border: 1px solid #ffffff20;
	border-radius: 4px;
	position: relative;

	label {
		font-size: 13px;
	}
	
	&--types {
		width: 100%;
		gap: 25px;
		
		@media (min-width: 1700px) {
			width: 450px;
			gap: 15px;

			label {
				width: 30%;
			}
		}
	}

	&--nations {
		width: 900px;

		label {
			width: 12.5%;
		}
	}

	&--levels {
		width: 100%;
		height: 83px;

		@media (min-width: 1280px) {
			flex: 1;
		}
	}

	&-title {
		position: absolute;
		left: 15px;
		top: -7px;
		font-size: 12px;
		background: #04384c;
		color: #ffffffa1;
		padding:  0 5px;
	}
}

.range-slider {
	width: 100%;
	margin: 0;
	text-align: center;
	position: relative;

	svg,
	input[type="range"] {
		position: absolute;
		left: 0;
		top: 25px;
	}

	input[type="range"] {
		width: 100%;
	}

	input[type="range"]::-webkit-slider-thumb {
		z-index: 2;
		position: relative;
		top: 2px;
		margin-top: -9px;
		background: #067bb8;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		background: #fff;
		height: 2px;
	}

	&__number {
		color: #fff;
		position: absolute;
		font-size: 12px;
		width: 14px;
		text-align: center;

		&.min {
			left:0;
			top: 0;
		}

		&.max {
			right: 0;
			top: 0;
		}
	}
}

.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.5);
	z-index: 2;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;

	h2 {margin-top: 0;}

	&__content {
		padding: 40px 30px 50px;
		width: 100%;
		max-width: 600px;
		background: #04384c;
		box-shadow: 0 0 20px rgba(0,0,0,.5);

		&-img {
			position: relative;
		}

		&-img-flag {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 350px;
			transform: translate(-175px, -100px);
			opacity: .5;
		}

		&-img-wrap {
			position: relative;
			margin-bottom: 20px;
		}
	}
}